<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Backbone</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
</head>
<body>

<script id="personTemplate" type="text/template">
    <span><%= name %></span>
    <strong><%= age %></strong>
</script>

<script src='../assets/libs/jquery.js'></script>
<script src='../assets/libs/underscore.js'></script>
<script src='../assets/libs/backbone.js'></script>
<script src='js/scripts.js'></script>  
</body>
</html>